@import "./inline-styles.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0c0c0c;
  color: #ffffff;
}

@media (max-width: 768px) {
    .footer-row-container {
        flex-direction: column !important;
        text-align: center !important;
    }
    .footer-right {
        text-align: center !important;
        align-items: center !important;
    }
    .footer-right ul {
        align-items: center !important;
    }
}

a {
  color: inherit;
  text-decoration: none;
}
